<!-- banner -->
  <div class="courses_banner">
  	<div class="container">
  		<h3>Register</h3>
  		<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam, adipiscing condimentum tristique vel, eleifend sed turpis. Pellentesque cursus arcu id magna euismod in elementum purus molestie.</p>
        <div class="breadcrumb1">
            <ul>
                <li class="icon6"><a href="index.html">Home</a></li>
                <li class="current-page">Register</li>
            </ul>
        </div>
  	</div>
  </div>
    <!-- //banner -->
	<div class="courses_box1">
	   <div class="container">
       <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "login"}) do |f| %>
                <p class="lead">Register New Account</p>
                <div class="form-group">
                  <%= f.text_field :full_name, autofocus: true, autocomplete: "off", class: "required form-control", placeholder: "Name *" %>
                </div>
                <div class="form-group">
                  <%= f.email_field :email, autofocus: true, autocomplete: "off", class: "required form-control", placeholder: "Email(Username) *" %>
                </div>
                <div class="form-group">
                  <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                  <%= f.password_field :password, autocomplete: "off", class: "required form-control", placeholder: "Password *" %>
                </div>
                <div class="form-group">
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "required form-control", placeholder: "Conform Password *" %>
                </div>
                <!-- <div class="form-group">
                    <input type="text" autocomplete="off" class="required form-control" placeholder="Email *" name="email" value="">
                </div> -->
                <!-- <div class="form-group">
                    <input type="text" autocomplete="off" class="required form-control" placeholder="Conform Email *" name="conform email" value="">
                </div> -->
                <div class="form-group">
                  <%= f.submit "Register", class: "btn btn-primary btn-lg1 btn-block", name: "submit" %>
                </div>
                <%= render "devise/shared/links" %>
              <% end %>
	   </div>
	</div>
